.image-hover-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.image-hover {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
    cursor: pointer; 
    max-width: 100%; 
    height: auto; 
    display: block;
    margin: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 5px; 
}

.image-hover:hover,
.image-hover:focus { 
    transform: translateY(-5px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    outline: none; 
}